
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background: #1A1A1D !important;
}





header{
    position: relative;
}

header .barra{
    display: flex !important;
    background: #8D8FFA !important;
    border-radius: 0 0 20px 20px ;
    position: fixed;
    border: 1px rgb(97, 95, 95) solid;
    z-index: 9999;
    margin-top: -120px;
}

.logo img{
    width: 113px;
    height: 102px;
}

nav ul li a{
    font-family: "Bebas Neue", sans-serif;
    font-size: 37px !important;
    color: black !important;
}

h2, h4,p{
    font-family: "Bebas Neue", sans-serif;
}

h4{
    font-family: "Bebas Neue", sans-serif;
    color: #EFB6C8;
}

h3{
    font-family: "Abril Fatface", serif;
    color: #EFB6C8;
}

header h2{
    padding: 20px 0 60px 0;
    font-size: 50px;
    color: #EFB6C8;
}

#presentacion{
    margin-top: 120px;
    position: relative;
}

.presentacion ul li{
    font-family: "Abril Fatface", serif;
    font-size: 100px;
    list-style: none;
    line-height: 80px;
    color: #EFB6C8;
    
}

.presentacion ul .difuminado{
    -webkit-text-stroke: 1px #EFB6C8;; 
    color: transparent;
    font-weight: 3 !important;
    --animate-duration: 0.5s;


}

.presentacion ul .difuminado1{
    -webkit-text-stroke: 1px #EFB6C8;; 
    color: transparent;
    font-weight: 3 !important;
    --animate-duration: 0.7s;

}

.presentacion ul .difuminado2{
    -webkit-text-stroke: 1px #EFB6C8;; 
    color: transparent;
    font-weight: 3 !important;
    --animate-duration: 0.9s;

}

.presentacion .nicolas{
    width: 382px;
    height: 500px;
    z-index: 33;
    margin-left: 170px;
    position: absolute;
    top: 350px;
}

.cuadrado {
    width: 428px;
    height: 376px;
    background-color: #8D8FFA;
    border-radius: 20px;
}

.cuadrado h4{
    font-size: 40px;
    color: white;
    padding: 40px 30px;
    
}

.cuadrado p{
    font-size: 25px;
    color: white;
    padding: 0 30px;
}

section .estrella-R{
    width: 334px;
    height: 334px;
    position: absolute;
    top: -50px;
    right: -200px;
}

.presentacion .oso{
    width: 330px;
    height: 452px;
    z-index: 33;
    margin-left: 170px;
    position: absolute;
    top: 360px;
}

.oso{
    animation: beat 3s infinite alternate;
	transform-origin: center;
}

@keyframes beat{
	to { transform: scale(1.1); }
}


main{
    margin-top: 350px;
    position: relative;
}

main h2{
    font-size: 60px;
    color: #EFB6C8;
}

#habilidades {
    text-align: center;
    font-size: 24px;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}

#habilidades article{
    margin: 20px auto;
    z-index: 45;
}

#habilidades article.lenguajes{
    padding: 10px;
    background: #8D8FFA;
    border-radius: 20px;

}

#habilidades article p{
    padding-top: 10px;
}

#habilidades article.lenguajes2{
    padding: 10px;
    background: #8D8FFA;
    border-radius: 20px;
    margin-bottom: 250px;
}

#habilidades .disco{
    position: absolute;
    width: 412px;
    height: 482px;
    right: 300px;
    top: 320px;
}

#habilidades .ts{
    width: 40%;
    border-radius: 20px;
}

.disco{
    animation: rotar 10s linear infinite;
}

@keyframes rotar {
    from {
      transform: rotateY(180deg);
    }
    to {
      transform: rotateY(-180deg);
    }
  }

#habilidades .estrella-L{
    margin: 0 1400px;
    width: 334px;
    height: 334px;
    position: absolute;
    right: 0px;
    top: 560px;
    z-index: 1;
}

#portafolio {
    position: relative;
}

#portafolio h2{
    margin-bottom: 20px;
}

#portafolio .labgestor{
    width: 297px;
    height: 158px;
    display: flex;
    align-items: center;
}

#portafolio .logoestudiante{
    margin: 20px auto;
    display: flex;
    align-items: center;
}

#portafolio article p{
    font-size: 23px;
}

#portafolio article{
    text-align: justify;
    margin-bottom: 200px;
}


#portafolio article:nth-child(1){
    padding: 0 60px 0 300px;
}
#portafolio article:nth-child(2){
    padding: 0 300px 0 60px;
}

#portafolio article p{
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background: #8D8FFA;
}



#portafolio .spider{
    width: 25%;
    position: absolute;
    right: 100px;
    top: -50px;
}

#portafolio .rei{
    width: 342px;
    height: 528px;
    position: absolute;
    top: 300px;
}

#estudiosExperiencia{
    position: relative;
}

#estudiosExperiencia h2{
    margin-bottom: 100px;
    text-align: center;
}

#estudiosExperiencia article p,h4{
    font-size: 24px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#estudiosExperiencia article{
    text-align: center;
    margin-bottom: 20px;
    color: white;
}


#estudiosExperiencia article:nth-child(1){
    padding: 0 150px 0 200px;
}
#estudiosExperiencia article:nth-child(2){
    padding: 0 200px 0 150px;
}

#estudiosExperiencia article p, h4{
    width: 100%;
    border-radius: 20px;
    background: #8D8FFA;
}

#estudiosExperiencia .angel{
    width: 25%;
    position: absolute;
    top: 100px;
    left: 490px;
}

.angel{
    animation: flotar 9s linear infinite;
    z-index: -1;
}

@keyframes flotar {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(-20px); 
    }
  }

#estudiosExperiencia .estrella-L{
    margin: 0 1000px;
    width: 404px;
    height: 334px;
    position: absolute;
    right: 0px;
    top: 360px;
    z-index: 1;
}


#redesSociales{
    position: relative;
    margin-top: 200px;
    margin-bottom: 100px;

}

#redesSociales .redes{
    display: flex;
    align-items: center;
    margin-top: 100px;
}

#redesSociales .redes h2{
    font-size: 40px;
    margin-left: 20px;
    color: white;
}

#redesSociales .gato{
    width: 50%;
    position: absolute;
    top: 200px;
    left: 600px;
}

#redesSociales .estrellas2{
    position: absolute;
    width: 20%;
    top: 0;
    right: 0;
}

.estrellas2{
    animation: flotar 5s linear infinite;
}

@keyframes flotar {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px); 
    }
  }

#hobbies{
    position: relative;
}

#hobbies article{
    padding: 0 100px;
    margin-top: 70px;
    margin-bottom: 100px;
}

#hobbies article img{
    width: 200px;
    height: 100px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #8D8FFA;
}

#hobbies article h2{
   display: flex;
   justify-content: center;
   color: white;
}

#hobbies .audifonos{

    width: 282px;
    height: 279px;

}

#hobbies .BMO{
    width: 282px;
    height: 279px;

}

#hobbies .saitama{
    width: 282px;
    height: 279px;

}

#hobbies .estrellas2{
    position: absolute;
    width: 15%;
    top: 0;
    right: 0;
}

@media screen and (min-width:500px) and (max-width: 990px){
    header .barra{
        top: 0;
        width: 90%;
        margin-top: initial;
    }
    
    header .barra ul{
        display: block;
    }

    .presentacion ul li{
        font-size: 90px;
    }

    section .estrella-R{
        width: 250px;
        height: 270px;
        left: 450px;
    }
    .cuadrado{
        margin-top: 540px;
        margin-left: 100px;
        margin-bottom: 300px;
    }
    .presentacion .oso{
        margin-top: 900px;
        margin-left: 300px;
    }

    main{
        margin-top: 100px;
    }

    #habilidades article{
        width: 400px;
    }
    #habilidades article.lenguajes{
        padding: 10px;
    }

    #habilidades article.lenguajes2{
        margin-bottom: initial;
    }

    #habilidades .disco{
        margin-top: 1200px;
        width: 300px;
        height: 400px;
        left: 250px;
    }
    #redesSociales .gato{
        margin: auto;
    }
    #portafolio{
        margin-top: 500px;
    }

    #portafolio .rei{
        top: 100px;
    }

    #portafolio .spider{
        width: 40%;
        top: 700px;
    }

    #estudiosExperiencia article:nth-child(1){
        padding: 0 100px;
    }

    #estudiosExperiencia article:nth-child(2){
        padding: 0 100px;
        margin-bottom: 300px;
    }
    #estudiosExperiencia .angel{
        width: 30%;
        left: 230px;
        top: 420px;
    }

    #redesSociales{
        margin-top: -200px;
    }
    #redesSociales .gato{
        top: 350px;
        left: 301px;
    }

    #redesSociales .redes h2{
        font-size: 35px;
    }

    #hobbies article img{
        margin: auto;
    }
}

@media screen and (min-width:400px) and (max-width: 430px){
    header .barra{
        top: 0;
        width: 80%;
        margin-top: initial;
    }
    
    header .barra ul{
        display: block;
    }
    header h2{
        padding: 20px 0 10px 0;
    }

    .presentacion ul li{
        font-size: 45px;
        line-height: 38px;
    }

    section .estrella-R{
        width: 170px;
        height: 200px;
        left: 220px;
        margin-top: 20px;
    }
    .presentacion .nicolas{
        width: 50%;
        height: 26%;
        margin-left: 100px;
        top: 160px;
    }

    .cuadrado{
        width: 308px;
        height: 276px;
        margin-top: 200px;
        margin-left: 50px;
        margin-bottom: 300px;
    }
    .cuadrado h4{
        font-size: 35px;
        padding: 30px 0 0 0;
        margin: initial;
    }

    .cuadrado p{
        text-align: justify;
    }

    .presentacion .oso{
        margin-top: 350px;
        margin-left: 100px;
        width: 230px;
        height: 352px;
    }

    main{
        margin-top: 100px;
    }

    #habilidades article{
        width: 400px;
    }
    #habilidades article.lenguajes{
        padding: 10px;
        width: 300px;
        height: 300px;
    }

    #habilidades article.lenguajes2{
        margin-bottom: initial;
        width: 200px;
        width: 300px;
        height: 300px;
    }

    #habilidades .disco{
        top: 1700px;
        width: 250px;
        height: 350px;
        left: 100px;
    }
    #redesSociales .gato{
        margin: auto;
    }
    #portafolio{
        margin-top: 300px;
    }

    #portafolio article:nth-child(1){
        padding: initial;
        margin: 50px 0;
    }
    #portafolio .labgestor{
        margin: auto;
    }

    #portafolio article:nth-child(2){
        padding: initial;
    }
    #portafolio .logoestudiante{
        margin: 20px auto;
    }

    #portafolio article p {
        width: 370px;
        margin: auto;
    }

    #portafolio .rei{
        display: none;
    }

    #portafolio .spider{
        display: none;
    }

    #estudiosExperiencia article:nth-child(1){
        padding: 0 50px;
    }

    #estudiosExperiencia article:nth-child(2){
        padding: 0 50px;
        margin-bottom: 300px;
    }
    #estudiosExperiencia .angel{
        width: 50%;
        left: 100px;
        top: 500px;
    }

    .imgredes{
        width: 100px;
    }

    #redesSociales .estrellas2{
        width: 100px;
    }

    #hobbies .estrellas2{
        width: 150px;
    }
    #redesSociales{
        margin-top: -200px;
    }
    #redesSociales .gato{
        display: none;
    }

    #redesSociales .redes h2{
        font-size: 35px;
    }

    #hobbies article img{
        margin: auto;
    }

    #hobbies article{
        margin: 20px 0;
    }

    #hobbies .audifonos{
        width: 200px;
        height: 200px;
    }

    #hobbies .BMO{
        width: 200px;
        height: 200px;
    }
    #hobbies .saitama{
        width: 200px;
        height: 200px;
    }
}

